/*########## Defaults ##############*/

body { 
  background: blue;
  margin: 0;
}
    		


/*############ Main Header##########*/

header {
   position: relative;
   height: 984px;
   min-height: 500px;
   width: 100%;
   background: black url(bodyBackground.jpg);
   text-align: center;
   overflow: hidden;
   background-repeat:no-repeat;
   background-size: cover;
}

div.rowBanner {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
/*The above is used to center the header in the center of the page*/

.bannerText {
  margin: 0;
  text-align: center;
  padding-bottom: 15%;
}

h1.mainHeader {
  color: white;
}

h2.mainDescript {
  color: white;
  margin: 0px 450px 0px 450px;
  text-align: center;
}

/*############# NAV BAR ###########*/

nav {
  width: 100%;
  margin: 0;
  background-color: black;
  z-index: 1;
}

.navBanner {
  display: flex;
  position: fixed;
}

ul.topNavBar {
  margin: auto;
  text-align: center;
}

ul.topNavBar li {
  text-align: center;
  position: relative;
  display: inline-block;
  
}

ul.topNavBar li a {
  color: #fff;
  text-transform: uppercase;
  display: block;
  padding: 15px;
  text-decoration: none; /*used to remove underline in link*/
}

ul.topNavBar li a:hover {
  color: red;
}


/*############ About ##########*/

.aboutMePage {
   position: relative;
   height: 592px;
   min-height: 500px;
   width: 100%;
   text-align: center;
   overflow: hidden;
   background: url(aboutBackground.jpg) no-repeat;
   background-size: cover;
}

.aboutMeDescript {
   color: white;
   
}










/*

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*/


